# Configura�ao extrusor titam e bmg 
[extruder]
max_extrude_only_distance: 300.0
max_extrude_cross_section: 100.0
#max_extrude_cross_section:  50
step_pin: P2.13
dir_pin: P0.11 #bmg
#dir_pin: !P0.11 #titan
enable_pin: !P2.12
microsteps: 16
full_steps_per_rotation:200
### Titan Extruder
rotation_distance: 7.654329102 # bmg
#rotation_distance: 7.49242251996 # titan
#pressure_advance: 0.01625 #Dragon 0.4 nozzle
#pressure_advance: 0.0266 #0.0463 #teste
#pressure_advance: 0.0675 #dragon 0.6 nozzle
pressure_advance: 0.0335 # lizzerd 0.6 nozzle
pressure_advance_smooth_time: 0.040
nozzle_diameter: 0.6
filament_diameter: 1.750
#filament_diameter: 1.660
max_extrude_only_velocity: 2000
max_extrude_only_accel: 800
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
#control = pid
#pid_kp = 27.013
#pid_ki = 1.324
#pid_kd = 137.768
min_temp: 0
max_temp: 255
min_extrude_temp: 195
#...

[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.450
hold_current: 0.150
#stealthchop_threshold: 5000
stealthchop_threshold: 540
#stealthchop_threshold: 0
#sense_resistor: 0.110
